* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--width-base: 1440;
--width-current: 100vw;
--width-multiplier: calc(var(--width-current) / var(--width-base));
}

@media(max-width: 1024px) {
:root {
    --width-base: 980;
    --width-current: 100vmin;
}
}

@media(max-width: 767px) {
:root {
    --width-base: 375;
    --width-current: 100vmin;
}
}

body {
    font-family: "Epilogue", sans-serif;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}



.hero {
display: flex;
flex-direction: column;
position: relative;
width: calc(1376 * var(--width-multiplier));
height: calc(608 * var(--width-multiplier));
background-image: url("../images/Education support.gif");
background-size: cover;
background-position: center;
border-radius: calc(20 * var(--width-multiplier));
margin: calc(32 * var(--width-multiplier));
}

.header {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: calc(1328 * var(--width-multiplier));
    height: calc(84 * var(--width-multiplier));
    top: calc(-20 * var(--width-multiplier));
    left: calc(24 * var(--width-multiplier));
    opacity: 1;

}

.left {
    display: flex;
    flex-direction: row;
    position: absolute;
    font-size: calc(16 * var(--width-multiplier));
    color: #fff;
    width: calc(485 * var(--width-multiplier));
    height: calc(24 * var(--width-multiplier));
    top: calc(52 * var(--width-multiplier));
    opacity: 1;
    gap: calc(24 * var(--width-multiplier));

}
.left a {
    text-decoration: none;
    color: #fff;
}

.right {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: calc(359 * var(--width-multiplier));
    height: calc(40 * var(--width-multiplier));
    opacity: 1;
    top: calc(44 * var(--width-multiplier));
    left: calc(969 * var(--width-multiplier));
    gap: calc(24 * var(--width-multiplier));
    color:#fff;

}

.future {
    position: absolute;
    width: max-content;
    height: calc(116 * var(--width-multiplier));
    top: calc(460 * var(--width-multiplier));
    left: calc(24 * var(--width-multiplier));
    opacity: 1;

}
.future h1 {
    font-weight: 900;
    font-style: Black;
    font-size: calc(48 * var(--width-multiplier));
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #fff;
}

.application-button {
    position: absolute;
    width: calc(185 * var(--width-multiplier));
    height: calc(48 * var(--width-multiplier));
    top: calc(529 * var(--width-multiplier));
    left: calc(454 * var(--width-multiplier));
    gap: calc(12 * var(--width-multiplier));
    opacity: 1;
    padding-top: calc(12 * var(--width-multiplier));
    padding-right: calc(24 * var(--width-multiplier));
    padding-bottom: calc(12 * var(--width-multiplier));
    padding-left: calc(24 * var(--width-multiplier));
    border-radius: calc(200 * var(--width-multiplier));
    background-color: #F0B323;
    align-items: center;
    display: flex;
    flex-direction: row;
    border: 0cm;
}
.application-button p {
    width: max-content;
    height: calc(24 * var(--width-multiplier));
    opacity: 1;
    color: #fff;
    font-weight: 600;
    font-size: calc(16 * var(--width-multiplier));
    line-height: calc(24 * var(--width-multiplier));
    letter-spacing: 0%;
}

.phone-selector {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: calc(186 * var(--width-multiplier));
    height: calc(38 * var(--width-multiplier));
    opacity: 1;
    gap: calc(8 * var(--width-multiplier));
    padding-right: calc(16 * var(--width-multiplier));
    padding-left: calc(16 * var(--width-multiplier));
    padding-top: calc(8 * var(--width-multiplier));
}

.phone {
    position: absolute;
    width: max-content;
    height: calc(22 * var(--width-multiplier));
    opacity: 1;
    gap: calc(10 * var(--width-multiplier));
}
.phone p {
    font-weight: 500;
    font-size: calc(16 * var(--width-multiplier));
    line-height: calc(22 * var(--width-multiplier));
    letter-spacing: 0px;
    text-align: center;
}
.phone:hover .phone-options {
    opacity: 1;
    visibility: visible;
}

.phone-arrow {
    position: absolute;
    width: calc(10 * var(--width-multiplier));
    height: calc(5 * var(--width-multiplier));
    top: calc(9 * var(--width-multiplier));
    left: calc(137 * var(--width-multiplier));
    opacity: 1;
}

.phone-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(305 * var(--width-multiplier));
    height: calc(409 * var(--width-multiplier));
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    gap: calc(16 * var(--width-multiplier));
    padding-top: calc(32 * var(--width-multiplier));
    padding-right: calc(24 * var(--width-multiplier));
    padding-bottom: calc(12 * var(--width-multiplier));
    padding-left: calc(24 * var(--width-multiplier));
    border-bottom-right-radius: calc(20 * var(--width-multiplier));
    border-bottom-left-radius: calc(20 * var(--width-multiplier));
    background-color: #fff;
    top: calc(-32 * var(--width-multiplier));
    left: calc(-24 * var(--width-multiplier));
    z-index: 4;
}

.nums-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(257 * var(--width-multiplier));
    height: calc(100 * var(--width-multiplier));
    opacity: 1;
    gap: calc(16 * var(--width-multiplier));
}

.reception {
    width: calc(257 * var(--width-multiplier));
    height: calc(42 * var(--width-multiplier));
    opacity: 1;
    gap: calc(12 * var(--width-multiplier));
}
.reception h2 {
    width: max-content;
    height: calc(22 * var(--width-multiplier));
    opacity: 1;
    font-weight: 500;
    font-size: calc(16 * var(--width-multiplier));
    line-height: calc(22 * var(--width-multiplier));
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
}
.reception p {
    width: calc(61 * var(--width-multiplier));
    height: calc(16 * var(--width-multiplier));
    opacity: 1;
    font-weight: 400;
    font-size: calc(12 * var(--width-multiplier));
    line-height: calc(16 * var(--width-multiplier));
    letter-spacing: 0px;
    color: #00000099;
}

.admin {
    width: calc(257 * var(--width-multiplier));
    height: calc(42 * var(--width-multiplier));
    opacity: 1;
    gap: calc(12 * var(--width-multiplier));
}
.admin h2 {
    width: calc(125 * var(--width-multiplier));
    height: calc(22 * var(--width-multiplier));
    opacity: 1;
    font-weight: 500;
    font-size: calc(16 * var(--width-multiplier));
    line-height: calc(22 * var(--width-multiplier));
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
}
.admin p {
    width: calc(95 * var(--width-multiplier));
    height: calc(16 * var(--width-multiplier));
    opacity: 1;
    font-weight: 400;
    font-size: calc(12 * var(--width-multiplier));
    line-height: calc(16 * var(--width-multiplier));
    letter-spacing: 0px;
    color: #00000099;
}

.order-call {
    width: calc(257 * var(--width-multiplier));
    height: calc(40 * var(--width-multiplier));
    opacity: 1;
    gap: calc(10 * var(--width-multiplier));
    padding-top: calc(12 * var(--width-multiplier));
    padding-right: calc(24 * var(--width-multiplier));
    padding-bottom: calc(12 * var(--width-multiplier));
    padding-left: calc(24 * var(--width-multiplier));
    border-radius: calc(100 * var(--width-multiplier));
    background-color: #F0B323;
    text-align: center;
}
.order-call a {
    width: calc(102 * var(--width-multiplier));
    height: calc(16 * var(--width-multiplier));
    opacity: 1;
    font-weight: 600;
    font-size: calc(12 * var(--width-multiplier));
    line-height: calc(16 * var(--width-multiplier));
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.personal {
    display: flex;
    flex-direction: column;
    width: calc(257 * var(--width-multiplier));
    height: calc(193 * var(--width-multiplier));
    opacity: 1;
    gap: calc(12 * var(--width-multiplier));
    padding-top: calc(12 * var(--width-multiplier));
    border-top-width: calc(1 * var(--width-multiplier));
    border-top: calc(1 * var(--width-multiplier)) solid #E5E7EB;
}

.email {
    width: calc(257 * var(--width-multiplier));
    height: calc(23 * var(--width-multiplier));
    opacity: 1;
    gap: calc(12 * var(--width-multiplier));
    border-top-width: calc(1 * var(--width-multiplier));
}
.email a {
    width: calc(201 * var(--width-multiplier));
    height: calc(24 * var(--width-multiplier));
    opacity: 1;
    font-weight: 400;
    font-size: calc(16 * var(--width-multiplier));
    line-height: calc(24 * var(--width-multiplier));
    letter-spacing: 0px;
    text-decoration: none;
    color: #000000CC;
}

.address {
    width: calc(257 * var(--width-multiplier));
    height: calc(48 * var(--width-multiplier));
    opacity: 1;
    gap: calc(12 * var(--width-multiplier));
}
.address a {
    width: calc(257 * var(--width-multiplier));
    height: calc(48 * var(--width-multiplier));
    opacity: 1;
    font-weight: 400;
    font-size: calc(16 * var(--width-multiplier));
    line-height: calc(24 * var(--width-multiplier));
    letter-spacing: 0px;
    text-decoration: none;
    color: #000000CC;
}

.schedule {
    width: calc(257 * var(--width-multiplier));
    height: calc(21 * var(--width-multiplier));
    opacity: 1;
    gap: calc(12 * var(--width-multiplier));
}
.schedule p {
    width: calc(142 * var(--width-multiplier));
    height: calc(24 * var(--width-multiplier));
    opacity: 1;
    font-weight: 400;
    font-size: calc(16 * var(--width-multiplier));
    line-height: calc(24 * var(--width-multiplier));
    letter-spacing: 0px;
    color: #000000CC;
}

.social-media {
    display: flex;
    flex-direction: row;
    width: calc(257 * var(--width-multiplier));
    height: calc(53 * var(--width-multiplier));
    opacity: 1;
    gap: calc(12 * var(--width-multiplier));
    border-top-width: calc(1 * var(--width-multiplier));
}
.social-media a {
    width: calc(36 * var(--width-multiplier));
    height: calc(36 * var(--width-multiplier));
    opacity: 1;
    border-radius: calc(16777200 * var(--width-multiplier));
    background-color: #F8F9FB;
    align-items: center;
}

.inst-img {
    margin: calc(8 * var(--width-multiplier));
    width: calc(20 * var(--width-multiplier));
    height: calc(20 * var(--width-multiplier));
    opacity: 1;
}

.tg-img {
    margin: calc(8 * var(--width-multiplier));
    width: calc(20 * var(--width-multiplier));
    height: calc(20 * var(--width-multiplier));
    opacity: 1;
}

.whats-img {
    margin: calc(8 * var(--width-multiplier));
    width: calc(20 * var(--width-multiplier));
    height: calc(20 * var(--width-multiplier));
    opacity: 1;
}
.lang-selector {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: calc(149 * var(--width-multiplier));
    height: calc(40 * var(--width-multiplier));
    opacity: 1;
    gap: calc(8 * var(--width-multiplier));
    padding-top: calc(8 * var(--width-multiplier));
    padding-right: calc(12 * var(--width-multiplier));
    padding-bottom: calc(8 * var(--width-multiplier));
    padding-left: calc(12 * var(--width-multiplier));
    border-radius: calc(200 * var(--width-multiplier));
    left: calc(210 * var(--width-multiplier));
    border: 0;
    background-color: #22326E;
    align-items: center;
    z-index: 3;
}
.lang-selector p {
    width: calc(63 * var(--width-multiplier));
    height: calc(16 * var(--width-multiplier));
    opacity: 1;
    color: #fff;
}

.earth-img {
    width: calc(24 * var(--width-multiplier));
    height: calc(24 * var(--width-multiplier));
    opacity: 1;
}

.lang-arrow {
    width: calc(10 * var(--width-multiplier));
    height: calc(5 * var(--width-multiplier));
    top: calc(10 * var(--width-multiplier));
    left: calc(121 * var(--width-multiplier));
    opacity: 1;
}


.logo-back {
    position: absolute;
    background-image: url("../svg's/logo-back.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(116 * var(--width-multiplier));
    height: calc(90 * var(--width-multiplier));
    top: calc(-12 * var(--width-multiplier));
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.logo {
    position: absolute;
    width: calc(74 * var(--width-multiplier));
    height: calc(72 * var(--width-multiplier));
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    background-image: url("../images/Prometheus_logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.swiper-my-slider {
    position: absolute;
    width: calc(335 * var(--width-multiplier));
    height: calc(118 * var(--width-multiplier));
    top: calc(471 * var(--width-multiplier));
    left: calc(1017 * var(--width-multiplier));
    overflow: hidden;
}

.swiper-wrapper {
    height: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: calc(12 * var(--width-multiplier));
    border-radius: calc(12 * var(--width-multiplier));
    background-color: #22326E66;
    backdrop-filter: blur(calc(12 * var(--width-multiplier)));
    color: white;
}
.swiper-slide h2{
    width: calc(311 * var(--width-multiplier));
    height: calc(30 * var(--width-multiplier));
    opacity: 1;
    font-weight: 600;
    font-size: calc(24 * var(--width-multiplier));
    line-height: calc(30 * var(--width-multiplier));
    letter-spacing: 0%;
    vertical-align: middle;
    margin-bottom: calc(16 * var(--width-multiplier));
}
.swiper-slide p{
    width: calc(311 * var(--width-multiplier));
    height: calc(48 * var(--width-multiplier));
    opacity: 1;
    font-weight: 400;
    font-size: calc(16 * var(--width-multiplier));
    line-height: calc(24 * var(--width-multiplier));
    letter-spacing: 0%;
    vertical-align: middle;
}


.page_2 {
    position: absolute;
    width: calc(1440 * var(--width-multiplier));
    height: calc(610 * var(--width-multiplier));
    top: calc(662 * var(--width-multiplier));;
    opacity: 1;
}

.wave {
    position: absolute;
    background-image: url("../images/workspace.png");
    width: calc(1440 * var(--width-multiplier));
    height: calc(608 * var(--width-multiplier));
    top: calc(2 * var(--width-multiplier));
    background-size: cover;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;

}

.block1 {
    position: absolute;
    width: calc(1440 * var(--width-multiplier));
    height: calc(218 * var(--width-multiplier));
    opacity: 1;  
}

.up1 {
    position: absolute;
    width: calc(1440 * var(--width-multiplier));
    height: calc(24 * var(--width-multiplier));
    opacity: 1;
    border-top-left-radius: calc(2 * var(--width-multiplier));
    border-top-right-radius: calc(1 * var(--width-multiplier));
    border-bottom-right-radius: calc(50 * var(--width-multiplier));
    background-color: #fff;
}
.up2 {
    position: absolute;
    width: calc(817 * var(--width-multiplier));
    height: calc(104 * var(--width-multiplier));
    top: calc(24 * var(--width-multiplier));
    opacity: 1;
    border-bottom-right-radius: calc(22 * var(--width-multiplier));
    border-bottom-left-radius: calc(50 * var(--width-multiplier));
    background-color: #fff;
}

.up2::after {
    content: "";
    position: absolute;
    background-image: url("../images/Vector-1.png");
    width: calc(51 * var(--width-multiplier));
    height: calc(49 * var(--width-multiplier));
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    left: calc(817 * var(--width-multiplier));
}
.up3 {
    position: absolute;
    width: calc(634 * var(--width-multiplier));
    height: calc(194 * var(--width-multiplier));
    top: calc(24 * var(--width-multiplier));
    opacity: 1;
    border-bottom-right-radius: calc(50 * var(--width-multiplier));
    border-bottom-left-radius: calc(50 * var(--width-multiplier));
    background-color: #fff;
}

.up3::after {
    content: "";
    position: absolute;
    background-image: url("../images/Vector-1.png");
    width: calc(51 * var(--width-multiplier));
    height: calc(49 * var(--width-multiplier));
    opacity: 1;
    top: calc(104 * var(--width-multiplier));
    left: calc(634 * var(--width-multiplier));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.down1 {
    position: absolute;
    width: calc(1440 * var(--width-multiplier));
    height: calc(24 * var(--width-multiplier));
    top: calc(586 * var(--width-multiplier));
    opacity: 1;
    border-bottom-right-radius: calc(2 * var(--width-multiplier));
    border-bottom-left-radius: calc(1 * var(--width-multiplier));
    border-top-left-radius: calc(50 * var(--width-multiplier));
    background-color: #fff;
}
.down2 {
    position: absolute;
    width: calc(534 * var(--width-multiplier));
    height: calc(178 * var(--width-multiplier));
    top: calc(412 * var(--width-multiplier));
    left: calc(906 * var(--width-multiplier));
    border-top-left-radius: calc(50 * var(--width-multiplier));
    border-top-right-radius: calc(50 * var(--width-multiplier));
    opacity: 1;
    background-color: #fff;
}
.down2::after {
    content: "";
    position: absolute;
    background-image: url("../images/Vector-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(51 * var(--width-multiplier));
    height: calc(49 * var(--width-multiplier));
    opacity: 1;
    top: calc(125 * var(--width-multiplier));
    right: calc(534 * var(--width-multiplier));
}

.digit-school {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: calc(842 * var(--width-multiplier));
    height: calc(168 * var(--width-multiplier));
    top: calc(23 * var(--width-multiplier));
    left: calc(32 * var(--width-multiplier));
    align-items: flex-start;
    opacity: 1;
    z-index: 2;
}

.digit-school p {
    font-weight: 600;
    font-size: calc(38 * var(--width-multiplier));
    line-height: calc(42 * var(--width-multiplier));
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000
}

.digit-school span {
    font-weight: 600;
    font-size: calc(38 * var(--width-multiplier));
    line-height: calc(42 * var(--width-multiplier));
    letter-spacing: 0%;
    vertical-align: middle;
    color: #22326E;
}

.comf-school {
    position: absolute;
    width: calc(461 * var(--width-multiplier));
    height: calc(96 * var(--width-multiplier));
    top: calc(436 * var(--width-multiplier));
    left: calc(947 * var(--width-multiplier));
    opacity: 1;
    z-index: 2;
}
.comf-school p {
    font-weight: 400;
    font-style: normal;
    font-size: calc(16 * var(--width-multiplier));
    line-height: calc(24 * var(--width-multiplier));
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
}

.double-button {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: calc(193 * var(--width-multiplier));
    height: calc(54 * var(--width-multiplier));
    top: calc(556 * var(--width-multiplier));
    left: calc(947 * var(--width-multiplier));
    opacity: 1;
}

.detailed {
    position: absolute;
    width: calc(139 * var(--width-multiplier));
    height: calc(54 * var(--width-multiplier));
    gap: calc(12 * var(--width-multiplier));
    opacity: 1;
    border-radius: calc(200 * var(--width-multiplier));
    padding-top: calc(12 * var(--width-multiplier));
    padding-right: calc(24 * var(--width-multiplier));
    padding-bottom: calc(12 * var(--width-multiplier));
    padding-left: calc(24 * var(--width-multiplier));
    background-color: #F0B323;
    z-index: 2;
}
.detailed a {
    position: absolute;
    text-decoration: none;
    color: #fff;
    width: calc(91 * var(--width-multiplier));
    height: calc(24 * var(--width-multiplier));
    opacity: 1;
    font-weight: 600;
    font-size: calc(16 * var(--width-multiplier));
    line-height: calc(30 * var(--width-multiplier));
    letter-spacing: 0%;
}

.degree45-arrow {
    position: absolute;
    width: calc(54 * var(--width-multiplier));
    height: calc(54 * var(--width-multiplier));
    opacity: 1;
    border-radius: calc(225 * var(--width-multiplier));
    z-index: 2;
    background-color: #F0B323;
    left: calc(139 * var(--width-multiplier));
    display: flex;
}

.degree45-arrow .arrow-rotated {
    position: absolute;
    width: calc(15.75 * var(--width-multiplier));
    height: calc(15.75 * var(--width-multiplier));
    opacity: 1;
    top: calc(19.13 * var(--width-multiplier));
    left: calc(19.13 * var(--width-multiplier));
    border-width: calc(3.15 * var(--width-multiplier));
    transform: rotate(-135deg);
    color: #fff;
}

